.partner
  h2 Нам доверяют
  .partner__container
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/hero-league.png') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/gant.png') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/zabeg-v2.png') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/gorilla.png') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/ocr.svg') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/GCL.png') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/zabeg.png') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/spotway.png') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/uniweb.svg') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/egranit.svg') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/winterhell.png') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/laitcom.png') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/kronstadt.svg') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/arena-hero.png') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/mosgortrans.svg') alt="")
    .partner__block
      .partner__block-image
        img(src=require('@/assets/img/partner/multibar.png') alt="")
