.product
  h2 Наши продукты
  .product__content
    .product__item.product__item_green
      .product__item-container
        .product__item-icon
          img(src=require('@/assets/img/product/icon-green.svg') alt="")
        h3.product__item-title Web-платформа HeroQuest
        .product__item-text
          p Сервис геймификации клиентского опыта при помощи игровых механик. Платформа позволяет:
          ul
            li Устроить квест для продвижения продукта
            li Погрузить стажера в новую должность
            li Провести увлекательное обучение
            li Вовлечь участников мероприятий (онлайн, оффлайн)
        a.button(href="#feedback") Попробовать демо
    .product__item.product__item_orange
      .product__item-container
        .product__item-icon
          img(src=require('@/assets/img/product/icon-orange.svg') alt="")
        h3.product__item-title Система управления ивентами
        .product__item-text
          p Комплекс продуктов для организации мероприятия, который включает в себя:
          ul
            li Билетную систему с управлением динамикой изменения цен
            li Создание посадочной страницы для ивента
            li Систему регистрации участников онлайн
            li Аналитику продаж и регистраций в любой момент
        a.button(href="#feedback") Хочу себе!
    .product__item.product__item_yellow
      .product__item-container
        .product__item-icon
          img(src=require('@/assets/img/product/icon-yellow.svg') alt="")
        h3.product__item-title Answer Game
        .product__item-text
          p Answer Game — простой и быстрый способ внедрить геймификацию в рутинные процессы. Механика, создающая простые текстовые игры для:
          ul
            li Опросов
            li Командообразования
            li Получения обратной связи
        a.button(href="#feedback") Хочу себе!
    .product__item.product__item_violet
      .product__item-container
        .product__item-icon
          img(src=require('@/assets/img/product/icon-violet.svg') alt="")
        h3.product__item-title Парсер инстаграм
        .product__item-text
          p Аналитический сервис, который собирает информацию об активности пользователей и посетителей твоего аккаунта в социальных сетях. Что парсер проанализирует:
          ul
            li Количество хэштегов и упоминаний в постах и сторис
            li Данные о пользователях, которые подписались на определенный аккаунт
        a.button(href="#feedback") Хочу себе!
    .product__item.product__item_pink
      .product__item-container
        .product__item-icon
          img(src=require('@/assets/img/product/icon-pink.svg') alt="")
        h3.product__item-title Система управления проектной работой
        .product__item-text
          p Единое информационное пространство управления проектами и задачами. Объединяет 3 сервиса:
          ul
            li Календарно-сетевое планирование
            li Управление задачами и трудозатратами
            li Командное взаимодействие (чат)
          p Формируй команды, планируй задачи, назначай ответственных, контролируй сроки выполнения, формируй отчеты и достигай поставленных целей.
        a.button(href="#feedback") Хочу себе!
    .product__item.product__item_blue
      .product__item-container
        .product__item-icon
          img(src=require('@/assets/img/product/icon-blue.svg') alt="")
        h3.product__item-title Билетная система
        .product__item-text
          p Инструмент, позволяющий решать комплекс задач по продаже билетов и управлению пользовательским потоком. Включает в себя:
          ul
            li Панель управления продажами
            li Управление доступом пользователей на площадке
            li Аналитику
          p Гибко настраивай продажи (динамичная цена, промокоды и пр) и сегментируй локацию на зоны с разным уровнем доступа.
        a.button(href="#feedback") Хочу себе!
