mixin modal(params)
  .modal(id=params.id)
    .modal__body
      .modal__close
        img(src=require('@/assets/img/close.svg') alt="")
      .modal__content
        section.modal__content-info(class=params.buttonHref ? 'modal__content-info_withBtn' : '')
          h3.modal__content-info-title #{params.title}
          if (params.subtitle)
          span.modal__content-info-subtitle !{params.subtitle}
          p !{params.paragraphFirst}
          if (params.paragraphSecond)
            p !{params.paragraphSecond}
          if (params.statisticsFirst)
            .modal__content-info-statistics
              .modal__content-info-statistics-item
                span #{params.statisticsFirstNum}
                span #{params.statisticsFirst}
              .modal__content-info-statistics-item
                span #{params.statisticsSecondNum}
                span #{params.statisticsSecond}
              if (params.statisticsThird)
                .modal__content-info-statistics-item
                  span #{params.statisticsThirdNum}
                  span #{params.statisticsThird}
          if (params.buttonHref)
            a.button(href=params.buttonHref target="_blank") Перейти на сайт
        .modal__content-background
          img(src=params.background alt="")

